* {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

.container {
  height: 20rem;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 12px;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.forecast-item {
  margin-bottom: 12px;
  width: 180px;
  /* Adjust the width value as desired */
  text-align: center;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -12px;
}

.forecast-item {
  margin: 12px;
}

.forecast-date {
  font-weight: bold;
  font-size: 1.2rem;
}

.forecast-temp {
  margin-top: 6px;
  font-size: 1.2rem;
}

.forecast-icon img {
}

/* Mobile Styles */
@media (max-width: 767px) {
  .forecast-item {
    display: block;
    width: 100%;
  }

  .container {
    margin: 12px;
  }

  .forecast-list {
    margin: -6px 12px;
  }

  .forecast-item {
    margin: 6px;
  }

  .location-input {
    margin-bottom: 00px;
    margin-top: 20px;
  }

  .location-input input[type="text"],
  .location-input button {
    margin-bottom: 0px;
  }

  .location-input button {
    display: block;
    width: calc(100% - 24px);
  }
}

/* Computer Styles */
@media (min-width: 768px) {
  .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    /* Adjust the width value as desired */
  }
}

/* Location box styles */
.location-input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.location-input input[type="text"] {
  flex: 1;
  height: 3rem;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  margin-right: 4px;
}

.location-input input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.location-input button {
  height: 3rem;
  padding: 8px 16px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #ff7700;
  color: #ffffff;
  cursor: pointer;
}

.location-input button:hover {
  background-color: #ffc99d;
}
