/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #338aed, #0a2b41);
  color: #fff;
}

.container {
  height: auto;
  width: 90%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.current-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icon {
  font-size: 48px;
  color: #fff;
}

.temp {
  font-size: 36px;
  font-weight: bold;
}

.summary {
  margin-top: 10px;
  font-size: 24px;
}

.rain-chance {
  margin-top: 10px;
  font-size: 20px;
}

.location {
  margin-top: 10px;
  font-size: 24px;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.forecast-item {
  width: calc(33.33% - 20px);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.forecast-item img {
  width: 50px;
  height: 50px;
}

.location-input {
  display: flex;
  flex-direction: column; /* Make the children stack vertically */
  align-items: center; /* Center children horizontally */
  margin-top: 20px;
}

#location-input {
  padding: 10px;
  width: 100%; /* Set the width to 100% */
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}
input::placeholder {
  color: #fff;
}

#get-weather-button {
  padding: 10px 20px;
  background-color: #da7603;
  color: #fff;
  border: none;
  width: 100%; /* Set the width to 100% */
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

#get-weather-button:hover {
  background-color: #ffc99d;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .forecast-item {
    width: 100%;
  }

  .container {
    margin: 10px;
  }

  .forecast-list {
    margin: 0 -10px;
  }

  .forecast-item {
    margin: 10px;
  }
}

/* Computer Styles */
@media (min-width: 768px) {
  .forecast-item {
    width: calc(33.33% - 20px); 
  }
}
