<!DOCTYPE html>
<html>
<head>
  <title>Spotify Integration</title>
</head>
<body>
  <div id="spotify-results"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script>
    function displayResults(results) {
      var container = document.getElementById("spotify-results");
      var html = "";

      if (results.playlistCreated) {
        html += "<h2>Playlist created!</h2>";
        html += "<p>Name: " + results.playlistName + "</p>";
        html += "<p>Description: " + results.playlistDescription + "</p>";
        html += "<p>Total recommended tracks: " + results.recommendedTracks.length + "</p>";
        html += "<h3>Recommended Tracks:</h3>";
        html += "<ul>";

        for (var i = 0; i < results.recommendedTracks.length; i++) {
          var track = results.recommendedTracks[i];
          html += "<li>" + track.name + " by " + track.artists[0].name + "</li>";
        }

        html += "</ul>";
      } else {
        html += "<p>No audio features available for the recently played tracks.</p>";
      }

      container.innerHTML = html;
    }

    window.addEventListener('load', function() {
      axios.get('/spotify-integration')
        .then(function(response) {
          var results = response.data;
          displayResults(results);
        })
        .catch(function(error) {
          console.error(error);
        });
    });
  </script>
</body>
</html>
